################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj/*
**/bin/*
**/*.csproj.user
/src/FlatSharpTests/coverage.netstandard2.0.xml
/src/FlatSharpTests/coverage.netcoreapp2.1.xml
/src/FlatSharpTests/coverage.net47.xml
/src/FlatSharpTests/coverage
