################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj/*
**/bin/*
**/*.csproj.user
**/*.fbs.generated.cs
**/*.DotSettings*
**/.coverage/**
/src/Grpc/NativeGrpc/Debug
/src/Debug
/src/Grpc/NativeGrpc/NativeGrpc.vcxproj.user
**/coverage.net5.0.xml
/src/Tests/Coverage/coverage.xml
/src/Tests/FlatSharpEndToEndTests/FlatSharpEndToEndTests.xml
/src/Tests/FlatSharpEndToEndTests/FlatSharp.generated.cs
/src/Benchmarks/ExperimentalBenchmark/FlatSharp.generated.cs
/src/Tests/FlatSharpEndToEndTests_Generated/FlatSharpEndToEndTestsGenerated.xml
**/BenchmarkDotNet.Artifacts/**
/src/Tests/CompileTests/NativeAot/FlatSharp.generated.cs
/src/Tests/CompileTests/CSharp8/FlatSharp.generated.cs
/src/Tests/Stryker/CodeGen/FlatSharp.cs

