name: Mutation Testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019
    env:
      AppVeyorBuild: true
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET 7
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
        
    - name: Install Stryker
      run: dotnet tool install -g dotnet-stryker
        
    - name: Build FlatSharp.Compiler
      working-directory: src/FlatSharp.Compiler
      run: dotnet build -c Release
      
    - name: Run FlatSharp.Compiler (E2E Tests)
      # You may pin to the exact commit or the version.
      # uses: Amadevus/pwsh-script@97a8b211a5922816aa8a69ced41fa32f23477186
      uses: Amadevus/pwsh-script@v2.0.3
      with:
        # PowerShell script to execute in Actions-hydrated context
        script: |
          $fbs = (gci -r src/tests/Stryker/*.fbs) -join ";"
          dotnet src/FlatSharp.Compiler/bin/Release/net7.0/FlatSharp.Compiler.dll --nullable-warnings false --normalize-field-names true --input "$fbs" -o src/tests/Stryker/CodeGen --no-auto-generated
    
    - name: Build
      working-directory: src/Tests/Stryker/Tests
      run: dotnet build -c Release
      
    - name: Mutate
      working-directory: src/Tests/Stryker/Tests
      run: dotnet-stryker
      
    - name: Upload Results
      uses: actions/upload-artifact@v2
      with:
        name: Stryker Results
        path: ./**/StrykerOutput/**/*.*
